<div class="about">
    <div class="img-container">
        <img src="./../../assets/earth2.jpg" alt="Norway" height="450" style="width:100%;">
        <div class="centered">
            <h1 class="heading">EARTHOSYS</h1>
            <p class="sub-heading">Tsunami Warning and Predicting AI System</p>
        </div>
    </div>
    <div class="container content">
        <h4>Earthosys - Tsunami Predicting and Warning AI System. To predict killer waves so called as Tsunami in advance and
            report the details to the nearby coast incorporated with modern technologies such as IoT, Machine Learning, Cloud
            Computing, ChatBots.</h4>
        <h4>This project uses the modern machine learning models to predict the occurrence of killer waves, so called as 'Tsunami'
            caused by Tsunamigenic earthquakes. It also uses the support of AI chatbot service to provide an appealing user
            interaction with the trained machine learning model. Further, it utilizes the power of Cloud computing, IoT to
            alert the nearby coast soon after a Tsunamigenic earthquake is triggered. The machine learning model which forms
            the basis for the project uses the fundamental characteristics of an earthquake that can trigger tsunami such
            as the magnitude, focal depth and the epicenter of the earthquake. This model can be used as an effective alternative
            for AI Tsunami prediction method that uses Fuzzy logic. Future work includes optimization and improvements in
            Tsunami prediction model to improve the accuracy achieved in predicting Tsunami.</h4>
    </div>
    <div class="container modules">
        <h1 align="center">Modules</h1>
        <div>
            <span class="col-md-4">
                <h3>ChatBot</h3>
                <img src="./../../assets/chatbot.png">
                <h4 class="module-content">
                    Artificial agent that provide an appealing user interaction with the trained machine learning model.​
                </h4>
            </span>
            <span class="col-md-4">
                <h3>Machine Learning Model</h3>
                <img height="180" src="./../../assets/ml.jpeg">
                <h4 class="module-content">
                    Machine Learning model is built on Support Vector Classification algorithm, which is trained with the historical tsunami
                    data from 2000 B.C to predict which earthquakes can cause tsunami and which does not.​
                </h4>
            </span>
            <span class="col-md-4">
                <h3>IoT</h3>
                <img height="180" width="190" src="./../../assets/robot.png">
                <h4 class="module-content">
                    To alert the nearby coast soon after a Tsunamigenic earthquake is triggered with the help of a raspberry pi device and Google
                    Text to Speech API.​ ​
                </h4>
            </span>

        </div>
    </div>
    <div class="contact">
        <h1 align="center">Contact us</h1>
        <div style="margin-top:-5%;">
            <app-contact></app-contact>
        </div>
    </div>
</div>