            <br>
             <br> <br> <br>
            
            <input type="text"  class="fields" placeholder = "Magnitude" [(ngModel)]="magnitude"><br><br>

            <input type = "text" class="fields" placeholder = "Focal Depth" [(ngModel)]="focal_depth"><br><br>
            <input type="text"  class="fields" placeholder = "Latitude" [(ngModel)]="latitude"><br><br>

            <input type = "text"  class="fields" placeholder = "Longitude" [(ngModel)]="longitude"><br><br>

            <button (click) = "onsubmit()" class="signupBtn">Predict</button>