<div class="container">
    <div class="col-lg-4">
        <div style="display:inline-block;" class='card card-profile text-center'>
          <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
          <div class='card-block'>
            <img alt='' class='card-img-profile' src='./../../assets/gautham.jpg'>
            <h4 class='card-title'>
              GAUTHAM PUGHAZHENDHI
              <small>Software Developer</small>
            </h4>
            <div style="padding-bottom:10%;" class='card-links'>
              <a target="_blank" class='fa fa-linkedin' href='https://www.linkedin.com/in/gautham-pughazhendhi/'></a>
              <a target="_blank" class='fa fa-github' href='https://github.com/GauthamPughaz'></a>
              <a target="_blank" class='fa fa-facebook' href='https://www.facebook.com/gauthampughaz1'></a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div style="display:inline-block;" class='card card-profile text-center'>
          <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
          <div class='card-block'>
            <img alt='' class='card-img-profile' src='./../../assets/dinesh.JPG'>
            <h4 class='card-title'>
              DINESH KUMAR ELUMALAI
              <small>Software Developer</small>
            </h4>
            <div style="padding-bottom:10%;" class='card-links'>
              <a target="_blank" class='fa fa-linkedin' href='https://www.linkedin.com/in/dinesh-kumar-035801110/'></a>
              <a target="_blank" class='fa fa-github' href='https://github.com/E-DineshKumar/'></a>
              <a target="_blank" class='fa fa-facebook' href='https://www.facebook.com/E.DineshKumar7'></a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-4">
      <div style="display:inline-block;" class='card card-profile text-center'>
        <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
        <div class='card-block'>
          <img alt='' class='card-img-profile' src='./../../assets/praveen.JPG'>
          <h4 class='card-title'>
            PRAVEEN RAMALINGAM
            <small>Software Developer</small>
          </h4>
          <div style="padding-bottom:10%;" class='card-links'>
            <a target="_blank" class='fa fa-linkedin' href='https://www.linkedin.com/in/praveen-ramalingam-074b8812a/'></a>
            <a target="_blank" class='fa fa-github' href='https://github.com/R-Praveen'></a>
            <a target="_blank" class='fa fa-facebook' href='https://www.facebook.com/praveen.praveenramalingam'></a>
          </div>
        </div>
      </div>
    </div>
</div>