<!--<div class="container">
    <div style="display:inline-block;" class="col s12 m7">

      <div class="card horizontal">
        <div class="card-image">
          <img src="https://unsplash.it/400/300?image=503" class="fadeIn">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">San Francisco</span>
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              </p>
          </div>
        <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
</div>-->
<div class="container">
  <div style="display:inline-block" class="logo">
    <a href="#"><img class='card-img-profile' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7x87UjWD-Cvj9fI9Pe-WLp4pnUs1NW_Gyx84PUN1QigEfnQ8w" /></a>
  </div>
  <div style="display:inline-block" class="text">
    <span><h2>USGS</h2></span>
    <span><small>Science for Changing World </small></span>
  </div>
</div>
