
<div style="margin-top:5%;margin-bottom:4%" class="container">
    <div class="col-lg-3 col-md-3  img">
      <a target="_blank" href="https://earthquake.usgs.gov/"> <img src="./../../assets/usgs.jpeg" height="200" width="200"></a>
    </div>
    <div class="col-lg-9 col-md-9 info">
      <div class="text">
        <span><h1>USGS</h1></span>
        <span><h2>Science for a Changing World</h2></span>      
            <p>The United States Geological Survey (USGS, formerly simply Geological Survey) is a scientific agency of the United States government. The scientists of the USGS study the landscape of the United States, its natural resources, and the natural hazards that threaten it. The organization has four major science disciplines, concerning biology, geography, geology, and hydrology. The USGS is a fact-finding research organization with no regulatory responsibility.</p>        
            <a style="margin-left:35px;font-size:15px;" target="_blank" href="https://earthquake.usgs.gov/"> Read more...</a>
      </div>
      
    </div>
</div>
<hr class="w-100 clearfix d-sm-none">
<div style="" class="container">
    <div class="col-lg-3 col-md-3  img">
      <a target="_blank" href="https://www.ngdc.noaa.gov/ngdc.html"> <img src="./../../assets/noaa.png" height="200" width="200"></a>
    </div>
    <div class="col-lg-9 col-md-9 info">
      <div class="text">
        <span><h1>NOAA</h1></span>
        <span><h2>National Oceanic and Atmospheric Administration</h2></span>      
            <p>The National Oceanic and Atmospheric Administration is an American scientific agency within the United States Department of Commerce that focuses on the conditions of the oceans and the atmosphere. NOAA warns of dangerous weather, charts seas, guides the use and protection of ocean and coastal resources and conducts research to provide understanding and improve stewardship of the environment</p>        
            <a style="margin-left:35px;font-size:15px;" target="_blank" href="https://www.ngdc.noaa.gov/ngdc.html"> Read more...</a>
      </div>
      
    </div>
</div>