<div class="body">
    <div class="container">
        <div id="map">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker *ngFor="let m of e_data;" [latitude]="m.latitude" [longitude]="m.longitude">
                    <agm-info-window>{{m.tsunami}}</agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>

    <div class="container feed_container">
        <!--Table-->
        <table datatable [dtOptions]="dtOptions" class="row-border hover" id="input">
            <!--Table head-->
            <thead class="mdb-color darken-3">
                <tr class="text-white">
                    <th>Magnitude</th>
                    <th>Depth (km)</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Epicenter</th>
                    <th>Tsunami</th>
                    <th> Nearest Latitude</th>
                    <th> Nearest Longitude</th>
                    <th> Distance (km)</th>
                    <th> Location </th>
                    <th> Speed (km/hr)</th>
                </tr>
            </thead>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
</div>