agm-map {
    height: 400px;
  }
  #map{
    margin-top: 6%;
  }
thead{
    color: white;        
}
tfoot{
    color: white;
}
table.dataTable td{
    font-weight: 600;
    font-size: small;
}
th{
    font-size: 13px;
}
label{
    display: inline;
    font-weight: 500;
}
input{
    display: inline;
    
}
.feed_container{
    margin-top: 25px;
    overflow: auto;
}
