<div class="body">
  <div class="container">
    <app-map></app-map>
  </div>
  <div class="container">
    <!--Table-->
    <table class="table" id="earthquake_table">
        <!--Table head-->
        <thead class="mdb-color darken-3">
            <tr class="text-white">
                <th>Magnitude</th>
                <th>Depth (km)</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Epicenter</th>                
                <th>Tsunami</th>
                <th> Nearest Latitude</th>
                <th> Nearest Longitude</th>
                <th> Distance (km)</th>
                <th> Location </th>
                <th> Speed (km/hr)</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody *ngFor= "let earthquake of e_data">
            <tr >                                    
                <td>{{ earthquake.mag }}</td>                                
                <td>{{ earthquake.dep }}</td>
                <td>{{ earthquake.lat }}</td>
                <td>{{ earthquake.lng }}</td>
                <td>{{ earthquake.epic }}</td>                
                <td>{{ earthquake.tsu }}</td>
                <td>{{ earthquake.near_lat }}</td>
                <td>{{ earthquake.near_lng }}</td>
                <td>{{ earthquake.distance }}</td>
                <td>{{ earthquake.location }}</td>
                <td>{{ earthquake.speed }}</td>
            </tr>                          
        </tbody>
        <!--Table body-->        
    </table>
    <!--Table-->
    
  </div>
</div>
